<div class="container">
    
  <form #employeeform="ngForm">
    <div class="form-group"[class.has-error]="Phonenumber.invalid && Phonenumber.touched">
      <label for="name" data-error="Required Field" for="Phonenumber">Phonenumber</label>
      <input type="text" class="form-control" name="pnumber" id="Phonenumber" #Phonenumber="ngModel" [(ngModel)]="user.PhoneNumber" pattern="^(7|8|9)\d{9}$" required>
   <span class="help-block" *ngIf="Phonenumber.invalid && Phonenumber.touched">invalid Phonenumber</span> </div>

   <div class="form-group"[class.has-error]="Address.invalid && Address.touched">
      <label for="name" data-error="Required Field" for="address">CurrentAddress</label>
      <input type="text" class="form-control" name="address" id="Address" #Address="ngModel" [(ngModel)]="user.address"  required />
    <span class="help-block" *ngIf="Address.invalid && Address.touched">Enter Address</span>
    </div>
<div class="form-group" [class.has-error]="PermanentAddress.invalid && PermanentAddress.touched">
  <label for="name">PermanentAddress</label>
  <input type="text" class="form-control" name="paddress" id="PermanentAddress" #PermanentAddress="ngModel" [(ngModel)]="user.PermanentAddress" required>
<span class="help-block" *ngIf="PermanentAddress.invalid && PermanentAddress.touched">Enter address</span>
</div>
 <div id="id">
 <button class="bbtn btn-primary center-block" (click)="navigateReg(employeeform.value)" >PreviousPage</button>
 <button class="bbtn btn-primary center-block" (click)="navigateReg()" >Submit</button></div>
</form>
</div>
