<div class="container">
  <form #employeeform="ngForm">
    <div class="form-group" [class.has-error]="Firstname.invalid && Firstname.touched">
      <label for="Firstname" data-error="Required Field">FirstName</label>
      <input type="text"  class="form-control" name="fName" id="Firstname" #Firstname="ngModel" [(ngModel)]="hero.FirstName" pattern="[a-zA-Z]+" required>
          <span class="help-block" *ngIf="Firstname.invalid && Firstname.touched">invalid name</span>
    </div>

    <div class="form-group" [class.has-error]="Lastname.invalid && Lastname.touched">
      <label for="Lastname">LastName</label>
      <input type="text" class="form-control" id="Lastname" name="lName" #Lastname="ngModel" [(ngModel)]="hero.LastName" pattern="[a-zA-Z]+" required>
   <span class="help-block" *ngIf="Lastname.invalid && Lastname.touched"> invalid name </span> 
</div>

   <div class="form-group" [class.has-error]="Fathername.invalid && Fathername.touched">
    <label for="Fathername">FatherName</label>
    <input type="text" class="form-control" id="Fathername" name="fatherName" #Fathername="ngModel" [(ngModel)]="hero.FatherName" pattern="[a-zA-Z]+" required>
    <span class="help-block" *ngIf="Fathername.invalid && Fathername.touched"> invalid name </span>  </div>

   <div class="form-group" [class.has-error]="Emailname.invalid && Emailname.touched">
    <label for="Emailname">Email</label>
    <input type="text" class="form-control" name="Email" id="Emailname"  #Emailname="ngModel" [(ngModel)]="hero.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    <span class="help-block" *ngIf="Emailname.invalid && Emailname.touched"> invalid email </span>
   </div>
   <div clngass="form-group">
     <label>Gender</label>
     <div class="form-control">
       <label class="radio-inline">
         <input type="radio" name="gender" value="male" [(ngModel)]="hero.gender">
         Male
       </label>
       <label class="radio-inline">
        <input type="radio" name="gender" value="female" [(ngModel)]="hero.gender">
        Female
      </label>
     </div><br>
     <div class="form-group">
       <label for="checkbox-inline" >
         <input type="checkbox" name="check" value="bangalore" [(ngModel)]="hero.check">
         Bangalore
         <input type="checkbox" name="check1" value="chennai"  [(ngModel)]="hero.check1">
         Chennai
       </label>
     </div>
     <div class="form-group">
       <label for="select-inline">Country</label>
         <select name="select" class="custom-select" [(ngModel)]="hero.select">
        <option *ngFor="let item of Country">{{item}}</option>
           </select>

     </div>
   </div>
   <div id="id">
   <button type="button" class="btn btn-primary center-block" (click)="navigateReq(employeeform.value)"[disabled]="employeeform.invalid">NextPage</button>
</div>
  </form>
</div>


