body {
background-color: lightblue;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
font-size: 32px;
}
#div1 {
background-color:darkblue;
color: white; 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border: 1px solid #d9d9d9;
box-shadow: 6px 2px 14px 0px #d9d9d9;
max-width: 400px;
width: 400px;
max-height: 400px;
height: 400px;
}
#div1{
padding: 23px;
}
#div1 {
margin: 12px;
}
#name1,#pass1 {
	color: red;
	font: 13px;
}
