.bodycalss {
background-image: url(pexels-photo-531880.jpeg);
margin: 0px;
background-position:bottom;
color:black;
font-size: 45px;
}
*/
.layout {
    text-align: center;
	color:white;
	height: 300px;
	width: 400px;
}
#vi {
	margin-left: 50px;
	text-align: center;	
	display: inherit;


}
#output1{
	color:white;
	font-size: 50px;
	margin-left: 131px;
    margin-top: -10px;
	}
	header {
    font-size: 45px;
	color:white;
	font-family: 'Indie Flower', cursive;
   }

header {
	font-family: 'Indie Flower', cursive;
}
input {
	 height:40px;
	 font-size: 14px;
	 border-radius: 39px;
	 font-family: 'Audiowide', cursive;
}
#btn{ 

    margin-top: 20px;
    border-radius: 20px;
    margin-left: 106px;
    background: white;
    width: 70px;
    font-family: 'Yellowtail',cursive;
    font-size: 15px;
}
button:hover {
	background-color:red;
}

