.bodyaudio{
background-image: url(wallpaper.wiki-Audio-Background-Full-HD-PIC-WPC0010797.jpg);
margin: 0px;
background-position:center;
color:black;
font-size: 45px;
}

p{
	font-family: 'Hanalei Fill', cursive;
	font-size: 50px;
	color:whitesmoke;
}

