.bodycoins{
	background-image: url(euro-coins-currency-money-106152.jpeg);
	margin:0px;
	background-position:bottom;
	color:black;
	font-size: 45px;
	background-size: 1933px 871px ;
	background-repeat: no-repeat;

}
#wait{
   
   margin-top:-265px;
}
#btn6 {
    border-radius: 35px;
	margin-left:67px;
}