.bodydate{
	background-image: url(estee-janssens-396876-unsplash.jpg);
	margin:0px;
	background-position:bottom;
	color:black;
	font-size: 45px;
	background-size: 1933px 871px ;
	background-repeat: no-repeat;

	}

#demo{
	margin-top: 0px;
 color:whitesmoke;
 font-style: italic;
 
}
#btn3{
 border-radius: 35px;
 margin-left: 58px;
}
button:hover {
    color:red;
}