.bodytime{
    align-items: center;
	background-image: url(download.jpeg);
	margin:0px;
	background-position:bottom;
	color:black;
	font-size: 45px;
	background-size: 1933px 871px ;
	background-repeat: no-repeat;
}