<div class="navbar navbar-expand-sm bg-primary navbar-dark"><h1>FULLSTACK</h1></div>
<div class="container">
  <div class="form-group" [class.has-error]="Firstname.invalid && Firstname.touched">
  <input class="form-control" type="text" placeholder="enter name" id="Firstname" #Firstname="ngModel"[(ngModel)]="name" pattern="[a-zA-Z]+" required>
  <span class="help-block" *ngIf="Firstname.invalid && Firstname.touched">invalid name</span>
  </div>
  <div class="form-group" [class.has-error]="Age.invalid && Age.touched">
  <input class="form-control" type="text" placeholder="enter age" id="Age" #Age="ngModel" [(ngModel)]="age"pattern="[0-9]+" required>
  <span class="help-block" *ngIf="Age.invalid && Age.touched">Enter Age</span>
</div>
  
  <button class="btn btn-primary" (click)="OnAdd()">add</button>
  <button class="btn btn-info" (click)="OnRead()">read</button>
  <button class="btn btn-warning" (click)="OnUpdate()">update</button>
  <button class="btn btn-danger "(click)="OnDelete()">delete</button>
  </div>
 